.contrastText {
    background: inherit;
    -webkit-background-clip: text;
            background-clip: text;
    color: black;
    filter: invert(1) grayscale(1) contrast(9) drop-shadow(.05em .05em .05em black);
  }