<h1>Create an account</h1>
<!-- <form>
    <label for="email">Email address 
        <input type="email" name="email" [(ngModel)]="newUser.email" placeholder="me@email.com" class="form-control my-2" required />
    </label><br>
    <label for="password">Set a password 
        <input type="password" name="password" [(ngModel)]="newUser.password" placeholder="supersecret" class="form-control my-2" required />
    </label><br>
    <label for="username">Create a username 
        <input type="text" name="username" [(ngModel)]="newUser.username" placeholder="username" class="form-control my-2" required />
    </label><br>
    <button (click)="register(newUser)" class="btn btn-success btn-lg my-2">Create Account</button>
</form> -->