
<nav class="navbar navbar-expand-lg">
  <div *ngIf="((isAdmin())); else hasAccountNavBar" class="container-fluid">
    <a class="navbar-brand brand" [routerLink]="['/home']"><i class="bi bi-house-fill"></i> SkillGuild</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/guild']"> <i class="bi bi-grid-3x3-gap-fill"></i> Manage Guilds </a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/user']"><i class="bi bi-people-fill"></i> Manage Users </a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/content']"><i class="bi bi-clipboard2-fill"></i> Manage Content </a></li>
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/comment']"> Comment </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/topic']"> Topic </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/statuses']"> Status </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/category']"> Category </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/question']"> Question </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/resource']"> Resource </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/resource-type']"> Resource Type </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/interaction']"> Interaction </a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/interaction-type']"> Interaction Type </a></li> -->

      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/profile']"><i class="bi bi-person-fill"></i> My Profile </a></li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <app-login-registration-modal></app-login-registration-modal>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <app-logout></app-logout>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #hasAccountNavBar>
    <div *ngIf="(loggedIn()); else noAccountNavBar" class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']"><i class="bi bi-house-fill"></i> SkillGuild</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-3"><a class="nav-link" [routerLink]="['/hub']"><i class="bi bi-grid-3x3-gap-fill"></i> Find a Guild</a></li>
        </ul>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!loggedIn()">
            <app-login-registration-modal></app-login-registration-modal>
          </li>
          <li class="nav-item mx-3" *ngIf="loggedIn()"><a class="nav-link" [routerLink]="['/profile']"> <i class="bi bi-person-fill"></i> My Profile </a></li>
          <li class="nav-item" *ngIf="loggedIn()">
            <app-logout></app-logout>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>

  <ng-template #noAccountNavBar class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']"><i class="bi bi-house-fill"></i> SkillGuild</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/hub']"><i class="bi bi-grid-3x3-gap-fill"></i> Guilds </a></li>
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!loggedIn()">
          <app-login-registration-modal></app-login-registration-modal>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <app-logout></app-logout>
        </li>
      </ul>
    </div>
  </ng-template>
</nav>
