<footer class="bg-light text-center text-lg-start">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 SkillGuild
  </div>

</footer>
<!-- <footer class="py-4">
  <div class="container" >
    <p class="float-end mb-1" >
      <app-create-guild-modal></app-create-guild-modal>
    </p>
    <p class="display-6 mb-1">A compelling selection of guilds</p>
    <p class="mb-0 fw-semibold">Sharpen your skills, explore new ones and learn by teaching!</p>
    <p class ="text-center"> © 2022 SkillGuild Site </p>
  </div>
</footer> -->
